/* CSS file */
@font-face {
	src: url("/assets/fonts/NeoSansIntel.ttf");
	fontFamily: NeoSansIntel;
}

@font-face {
	src: url("/assets/fonts/NeoSansIntel-Medium.ttf");
	fontFamily: NeoSansIntelMedium;
}

@font-face {
	src: url("/assets/fonts/GARA.TTF");
	fontFamily: Garamond;
}

@font-face {
	src: url("/assets/fonts/NeoSansIntel-Light.ttf");
	fontFamily: NeoSansIntelLight;
}

Application {
	/*backgroundColor: #4f4f47; */
	/*backgroundGradientColors: #4f4f47, #4f4f47; */
	/*color: #4f4f47; */
	themeColor: #09F4F1;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;
	horizontalAlign: center;
	verticalAlign: middle;
	fontFamily: NeoSansIntel;
	fontSize: 12;
}

ApplicationControlBar {
	highlightAlphas: 0.38, 0.34;
	fillAlphas: 0.49, 0.38;
	fillColors: #00ffff, #0066ff;
	backgroundAlpha: 1;
	dropShadowEnabled: true;
	shadowDirection: right;
}

Label {
	fontFamily: NeoSansIntelMedium;
	fontSize: 12;
	fontWeight: "normal";
}

Button {
	fontFamily: NeoSansIntelMedium;
	fontSize: 11;
	fontWeight: "normal";
}

.errorTip {
    color: #FFFFFF;
	fontFamily: NeoSansIntel;
    fontSize: 12;
    fontWeight: "normal";
    shadowColor: #000000;
    borderColor: #CE2929;
    borderStyle: "errorTipRight";
    paddingBottom: 4;
    paddingLeft: 4;
    paddingRight: 4;
    paddingTop: 4;
}

.DraggableLabel {
	fontFamily: NeoSansIntel;
	fontSize: 12;
	fontWeight: "normal";
	backgroundAlpha: 0.5;
	backgroundColor: #cccccc;
	borderColor: #000000;
	cornerRadius: 10;
}

.DraggableToolTip {
	fontFamily: NeoSansIntel;
	fontSize: 12;
	fontWeight: "normal";
	backgroundAlpha: 0.5;
	cornerRadius: 10;
	backgroundColor: #cccccc;
	color: #0b333c;
}

.FileSystemList {
	fontFamily: NeoSansIntelLight;
	fontSize: 11;
	fontWeight: "normal";
}

.Canvas01 {
	fontFamily: NeoSansIntelMedium;
	fontSize: 11;
}

.ApplicationTitleBarLabel {
	fontFamily: NeoSansIntel;
	fontSize: 14;
	fontWeight: "bold";
}

.ListInFocus {
	alternatingItemColors: #cccccc, #ffffff;
	fontFamily: NeoSansIntelMedium;
	fontSize: 11;
	fontWeight: "normal";
	cornerRadius: 10;
}

List {
	fontFamily: NeoSansIntel;
	fontSize: 11;
	fontWeight: "normal";
	cornerRadius: 10;
}

.ErrorAlert {
	fontFamily: NeoSansIntel;
	fontSize: 11pt;
	backgroundAlpha: .5;
	shadowDistance: 7;
	backgroundColor: #ff0000;
	borderColor: #ff0000;
	cornerRadius: 10;
	titleStyleName: "AlertPanelTitle";
}	

.InfoAlert {
	fontFamily: NeoSansIntel;
	fontSize: 11pt;
	backgroundAlpha: .5;
	shadowDistance: 7;
	backgroundColor: #0066ff;
	borderColor: #0066ff;
	cornerRadius: 10;
	titleStyleName: "AlertPanelTitle";
}	

.ConfirmAlert {
	fontFamily: NeoSansIntel;
	fontSize: 11pt;
	color: #000000;
	backgroundAlpha: .5;
	shadowDistance: 7;
	backgroundColor: #ff6600;
	borderColor: #ff6600;
	cornerRadius: 10;
	titleStyleName: "AlertPanelTitle";
}	

.InfoMsgAlert {
	fontFamily: NeoSansIntel;
	fontSize: 11pt;
	color: #000000;
	backgroundAlpha: .5;
	shadowDistance: 7;
	backgroundColor: #33ff66;
	borderColor: #00ff66;
	cornerRadius: 10;
	titleStyleName: "AlertPanelTitle";
}	

.AlertPanelTitle {
	fontFamily: NeoSansIntel;
	fontSize: 14pt;
	color: #000000;
	fontWeight: "normal";
}

ToolTip {
	fontFamily: NeoSansIntelMedium;
	fontSize: 12pt;
	fontWeight: "normal";
	backgroundColor: #e4b61b;
	color: #4f4f47;
}

MenuBar {
	backgroundAlpha: 1;
	highlightAlphas: 0.64, 0.42;
	fillAlphas: 1, 0.46;
	fillColors: #00ffff, #00ccff;
	rollOverColor: #ffff00;
	selectionColor: #ff0000;
	fontFamily: NeoSansIntelMedium;
	fontSize: 12pt;
	backgroundColor: #ffff99;
}

.DisabledButton {
	fillColors: #999999, #cccccc, #ffffff, #ffffff;
}

.EnabledButton {
   fillColors: #ffffff, #ffffff, #999999, #cccccc;
}

.cProgressBar {
   trackColors: #e6eeee, #e6eeee;
   paddingLeft: 0;
   paddingRight: 0;
   textIndent: 0;
   trackHeight: 15;
   verticalGap: 20;
   fontFamily: NeoSansIntelMedium;
   fontSize: 12;
}
