<h1><%= @title = "Signup Successful" %></h1>

We've received your account request. 

We will be in touch with your account information shortly. If you don't receive confirmation email in next 24 hours, please contact MOLTEN support by sending email to molten_feedback@magma-da.com.

<p><%= link_to 'Back to the Login Page', :action => 'login_form' %></p>