<%= @contact.name %>,

Click the link below to reset the password on your <%= AppConstants::APP_NAME %> account:

http://<%= @host %><%= @port.nil? ? '' : "#{@port}" %>/contact/change_password/<%= @contact.id %>?token=<%= @contact.token %>

If above URL wraps over multiple lines, please make sure to copy the FULL URL from this email and paste it manually into your browser.

The <%= AppConstants::APP_NAME %> Team.
