<%= @lead.owner.name %>,

A lead owner has requested a status update. 

Contact: <%= @lead.name %>

Company: <%= @lead.company %>

Email: <%= @lead.email %>

Phone: <%= @lead.phone %>

<%= AppConstants::APP_NAME %>