
/*
dark Grey: 4f4f47
Green: b0b631
Orange: e4b61b
Blue: 7c94b7

chart colors
Dark Green: 5c8a8b
Purple: 8f56a2
Brown: b18467


Light Grey: f8f7f5
Deep Blue: 5970A4
*/

/*
LineChart {
	chartSeriesStyles: chartSeries1, chartSeries2, chartSeries3, chartSeries4, chartSeries5, chartSeries6;
}

.chartSeries1 { fill: #5c8a8b; }
.chartSeries2 { fill: #8f56a2; }
.chartSeries3 { fill: #5970A4; }
.chartSeries4 { fill: #b18467; }
.chartSeries5 { fill: #b0b631; }
.chartSeries6 { fill: #e4b61b; }
*/

