Dear <%= @lead.first_name %> <%= @lead.last_name %>,

Thank you for your Molten Account Request. 

This message is to confirm that we have received this request. It has been sent to the Application Engineering Manager responsible for your account for further processing. Once your request is approved, you will receive another confirmation email from us.

Thank You,
MOLTEN Support Team
