<table class="form">
	<tr>
		<td><label for="title">Value</label><br/>
			<%= edit_field %>
		</td>
	</tr>
</table>

<br/><br/>
<%= image_submit_tag 'buttons/submit.gif', :alt => "Submit", :width => 81, :height => 22 %>
