<div id="login_container">
<%= image_tag('header/magma_logo.gif', :width => 346, :height => 39, :alt => "Magma Design Automation, Inc.") %>

<h2>The Page Could Not Be Found.</h2>

Sorry, but we couldn't find the page you requested. <%= link_to 'To the Homepage', url_for(home_url) %>

</div>