<div id="login_container">
<%= image_tag('header/magma_logo.gif', :width => 346, :height => 39, :alt => "Magma Design Automation, Inc.") %>

<h2><%= @title = "An error occurred creating your account" %></h2>
<%= flash[:warning] %>
		
</div>
