<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<a href="/" target="_blank">Molten</a>
<table width="100%">
  <tr>
    <td>
      <a href="/flash/training/BlastTalusMigration/index.html" target="_blank">
        <img src="/flash/training/BlastTalusMigration_title.png"><br>
        Blast Talus Migration
      </a>
    </td>
    <td>
      <a href="/flash/training/ReportsQueries/index.html" target="_blank">
        <img src="/flash/training/ReportsQueries_title.png"><br>
        Reports Queries
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/flash/training/SnapEnwrap/index.html" target="_blank">
        <img src="/flash/training/SnapEnwrap_title.png"><br>
        Snap Enwrap
      </a>
    </td>
    <td>
      <a href="/flash/training/Strength_HyperCells_OnLine/index.html" target="_blank">
        <img src="/flash/training/Strength_HyperCells_OnLine_title.png"><br>
        Strength HyperCells OnLine
      </a>
    </td>
  </tr>
</table>
